import /device_tunables.rc
import /init.u8500.usb.rc

on init

    export EXTERNAL_STORAGE /storage/sdcard0
    export SECONDARY_STORAGE /storage/sdcard1

    mkdir /storage/sdcard0 0700 root root
    mkdir /storage/sdcard1 0700 root root

    mkdir /mnt/media_rw/sdcard0 0700 media_rw media_rw
    mkdir /mnt/media_rw/sdcard1 0700 media_rw media_rw

    mkdir /efs 0771 radio system
    mkdir /modemfs 0771 system system
    mkdir /preload 0771 system system
    mkdir /mnt/.lfs 0755 root root

    # For backwards compatibility
    symlink /storage/sdcard0 /sdcard
    symlink /storage/sdcard0 /mnt/sdcard
    symlink /storage/sdcard1 /extSdCard
    symlink /storage/sdcard1 /mnt/extSdCard

    # Setup the global environment
    export LD_LIBRARY_PATH /vendor/lib:/system/lib:/system/lib/ste_omxcomponents
    export OMX_STE_ENS_COMPONENTS_DIR /system/lib/ste_omxcomponents/
    export OMX_BELLAGIO_LOADER_REGISTRY /system/etc/omxloaders
    export OMX_STE_CSCALL_COMPONENTS_DIR /system/lib/ste_omxcomponents/

    # Vibetonz
    export VIBE_PIPE_PATH /dev/pipes
    mkdir /dev/pipes 0771 shell shell

    # Shared memory file system
    mkdir /dev/shm 0700 root system
    mount tmpfs tmpfs /dev/shm mode=0755,gid=1000

    # Create /tmp directory needed by psccd and CSPSA
    # ...but make it a symlink so that sysmon may use it also
    symlink /dev/socket /tmp

    # Mount debugfs in order for Audio ADM component to retrieve debug information
    mkdir /debug
    mount debugfs none /debug

    # Prevents permission denied error for telephony
    chmod 0644 /proc/cmdline

on fs

    setprop ro.crypto.fuse_sdcard true
 
    # Start CSPSA before synchronously running the factory reset utility that
    # checks the factory reset triggers in sysfs and CSPSA and then formats
    # the block device belonging to /data.
    start cspsa

on post-fs

    chown radio radio /modemfs
    chmod 0771 /modemfs
    chown radio radio /modemfs/CONF
    chmod 0755 /modemfs/CONF
    chown radio radio /modemfs/CONF/MCE
    chmod 0755 /modemfs/CONF/MCE
    chown radio radio /modemfs/CONF/MCE/MCE.CFG
    chmod 0644 /modemfs/CONF/MCE/MCE.CFG
    chown radio radio /modemfs/PERM
    chmod 0755 /modemfs/PERM
    chown radio radio /modemfs/PERM/PROT
    chmod 0755 /modemfs/PERM/PROT
    chown radio radio /modemfs/PERM/PROT/LABEP.CFG
    chmod 0644 /modemfs/PERM/PROT/LABEP.CFG
    chown radio radio /modemfs/PERM/PROT/PPVALUES.DAT
    chmod 0644 /modemfs/PERM/PROT/PPVALUES.DAT

    chown radio system /efs
    chmod 0775 /efs
    chown radio system /efs/FactoryApp
    chmod 0775 /efs/FactoryApp
    chown radio system /efs/imei
    chmod 0770 /efs/imei
    chown radio system /efs/bluetooth
    chown radio system /efs/wifi

    # Change the permission sensor chips
    chown root system /dev/alps_io
    chmod 0660 /dev/alps_io

    # Change permission for touchscreen and touch key
    chown system system /sys/class/sec/tsp/cmd
    chown system system /sys/class/sec/tsp/cmd_status
    chown system system /sys/class/sec/tsp/cmd_result
    chown system system /sys/class/sec/sec_touchkey/touchkey_back
    chown system system /sys/class/sec/sec_touchkey/touchkey_menu
    chown system system /sys/class/sec/sec_touchscreen/tsp_firm_version_panel
    chown system system /sys/class/sec/sec_touchscreen/tsp_firm_version_phone

    # PRCMU debug fs
    chown radio system /debug/prcmu/ape_opp
    chown radio system /debug/prcmu/ddr_opp
    chmod 0660 /debug/prcmu/ape_opp
    chmod 0660 /debug/prcmu/ddr_opp

    # Change the permission sensor chips
    chown root system /dev/alps_io
    chmod 0660 /dev/alps_io
    chown system system /system/etc/sensors.dat
    chown system system /system/etc/calib.dat
    chown system system /system/etc/param.dat
    chmod 0664 /system/etc/sensors.dat
    chmod 0664 /system/etc/calib.dat
    chmod 0664 /system/etc/param.dat

    # Change permission for magnetic sensor rev02
    chown system input /sys/class/input/input8/delay
    chown system input /sys/class/input/input8/enable
    chown system input /sys/class/input/input8/filter_enable
    chown system input /sys/class/input/input8/filter_len
    chown system input /sys/class/input/input8/filter_threshold
    chown system input /sys/class/input/input8/filter_noise
    chown system input /sys/class/input/input8/data
    chown system input /sys/class/input/input8/status
    chown system input /sys/class/input/input8/wake
    chown system input /sys/class/input/input8/position
    chown system input /sys/class/input/input9/threshold
    chown system input /sys/class/input/input9/distortion
    chown system input /sys/class/input/input9/shape
    chown compass input /sys/class/input/input9/offsets

    # Orientation
    chown system input /sys/class/input/input6/enable
    chown system input /sys/class/input/input6/delay
    chown system input /sys/class/input/input6/wake
    chown system input /sys/class/input/input6/data
    chown system input /sys/class/input/input6/status
    write /sys/class/input9/filter_enable 0

    # Change permission for accelerometer
    chown system input /sys/class/sensors/accelerometer_sensor/raw_data
    chown system system /sys/class/sensors/accelerometer_sensor/calibration

    chown system system /sys/class/sensors/magnetic_sensor/selftest
    chown system system /sys/class/sensors/magnetic_sensor/status
    chown system system /sys/class/sensors/magnetic_sensor/dac
    chown system system /sys/class/sensors/magnetic_sensor/adc

    chown system system /sys/class/sensors/proximity_sensor/state
    chown system system /sys/class/sensors/proximity_sensor/prox_avg

    # Install Kernel Module
    symlink /dev/block/mmcblk0p1 /dev/block/param
    insmod /system/lib/modules/j4fs.ko
    mount j4fs /dev/block/mmcblk0p1 /mnt/.lfs wait

    insmod /system/lib/modules/param.ko
    write /sys/class/power_supply/battery/batt_reinit_capacity 1
    insmod /system/lib/modules/bthid.ko

    # Loading exFAT-fs drivers
    insmod /system/lib/modules/exfat_core.ko
    insmod /system/lib/modules/exfat_fs.ko

on post-fs-data

    # EFS wifi permissions
    chown system system /efs/wifi/.mac.info
    chmod 0664 /efs/wifi/.mac.info
    
    # FactoryTest files permission
    mkdir /efs/FactoryApp 0775
    chown radio system /efs/FactoryApp
    chmod 0775 /efs/FactoryApp
    write /efs/FactoryApp/factorymode ON
    chown system system /efs/FactoryApp/factorymode
    chmod 0744 /efs/FactoryApp/factorymode

    # SA, System SW, SAMSUNG create log directory
    mkdir /data/log 0775 system log
    chown system log /data/log
    chmod 0775 /data/log
    chmod 0775 /data/anr

#[ SEC_MM_DRM
    # DRM directory creation
    mkdir /system/etc/security/.drm 0775
    chown root root /system/etc/security/.drm
    chmod 0775 /system/etc/security/.drm

    # Added for Playready DRM Support
    mkdir /data/data/.drm 0775
    chown drm system /data/data/.drm
    chmod 0775 /data/data/.drm
    mkdir /data/data/.drm/.playready 0775
    chown drm system /data/data/.drm/.playready
    chmod 0775 /data/data/.drm/.playready

    # Added drm folder to copy drm plugins
    mkdir /system/lib/drm 0775
    chown root root /system/lib/drm
    chmod 0775 /system/lib/drm

    # DivX DRM
    mkdir /efs/.files 0775
    mkdir /efs/.files/.dx1 0775
    mkdir /efs/.files/.dm33 0775
    mkdir /efs/.files/.mp301 0775
    chown media system /efs/.files/.dx1
    chown media system /efs/.files/.dm33
    chown media system /efs/.files/.mp301
    chmod 0775 /efs/.files/.dx1
    chmod 0775 /efs/.files/.dm33
    chmod 0775 /efs/.files/.mp301
#]

    # Create basic filesystem structure
    mkdir /data/misc/bluetoothd 0770 bluetooth bluetooth

    # Give system access to ril_config
    copy -u /system/etc/ril_config /data/misc/ril_config
    chmod 0660 /data/misc/ril_config
    chown root radio /data/misc/ril_config

    # Create directory for STE OMX debug logs
    mkdir /data/ste-debug 0777 root root

    # Create var/run, var/lib for avahi
    mkdir /var
    mkdir /var/run
    mkdir /var/lib

    # Change permissions for modem_log_relay config file
    chmod 666 /modemfs/trace_auto.conf
    
    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_governor "interactive"
    write /sys/devices/system/cpu/cpu1/cpufreq/scaling_governor "interactive"
    write /sys/devices/system/cpu/cpufreq/interactive/above_hispeed_delay "20000 600000:40000 800000:20000"
    write /sys/devices/system/cpu/cpufreq/interactive/timer_slack "-1 400000:30000 600000:40000 800000:20000"
    write /sys/devices/system/cpu/cpufreq/interactive/min_sample_time "40000 800000:80000"
    write /sys/devices/system/cpu/cpufreq/interactive/timer_rate "60000 200000:40000 800000:30000 1000000:20000"
    write /sys/block/mmcblk0/queue/scheduler deadline
    write /sys/block/mmcblk1/queue/scheduler deadline

    # If there is no fs-post-data action in the init.<device>.rc file, you
    # must uncomment this line, otherwise encrypted filesystems
    # won't work.
    # Set indication (checked by vold) that we have finished this action
    setprop vold.post_fs_data_done 1

on early-boot

    # Prepare modem
    class_start modem-u8500
    class_start modem-core

    # Enable autonomous power management in CM
    write /sys/module/cm/parameters/enable_auto_pm 1

on boot

    # debugfs
    mount debugfs /sys/kernel/debug /sys/kernel/debug

    chown radio radio /sys/class/usb_switch/FSA_SWITCH/jig_smd
    chown radio system /sys/class/usb_switch/FSA_SWITCH/smd_wakelock
    chown audio audio /sys/devices/system/cpu/usecase/voice-call
    chown audio audio /sys/devices/system/cpu/usecase/low-power-audio
    chown system radio /sys/class/sec/switch/usb_state
    chown system radio /proc/dump_enable

    # Permission for gpio_keys
    chown radio system /sys/devices/platform/gpio-keys.0/wakeup_keys
    write /sys/devices/platform/gpio-keys.0/wakeup_keys 172

    # GPS
    chown root system /dev/ttyAMA1
    chmod 0660 /dev/ttyAMA1
    chown root system /sys/class/sec/gps/GPS_ON_OFF/value
    chmod 0664 /sys/class/sec/gps/GPS_ON_OFF/value
    chown root system /sys/class/sec/gps/GPS_nRST/value
    chmod 0664 /sys/class/sec/gps/GPS_nRST/value

    # Permissions for bluetooth
    # UART device
    chown bluetooth net_bt_stack /dev/ttyAMA0
    chmod 0660 /dev/ttyAMA0

    # For bluetooth. Change access rights as btld runs as bluetooth user
    chown bluetooth net_bt_stack /sys/class/rfkill/rfkill0
    chown bluetooth net_bt_stack /sys/class/rfkill/rfkill0/claim
    chown bluetooth net_bt_stack /sys/class/rfkill/rfkill0/soft
    chmod 0664 /sys/class/rfkill/rfkill0/claim
    chmod 0664 /sys/class/rfkill/rfkill0/soft
    setprop service.brcm.bt.pbap_mode btld
    
    # Power up/down interface
    chmod 0660 /sys/class/rfkill/rfkill0/type
    chmod 0660 /sys/class/rfkill/rfkill0/state
    chown bluetooth net_bt_stack /sys/class/rfkill/rfkill0/state
    chown bluetooth net_bt_stack /sys/class/rfkill/rfkill0/type

    # Bluetooth MAC address programming
    setprop ro.bt.bdaddr_path "/efs/bluetooth/bt_addr"
    chown bluetooth bluetooth ro.bt.bdaddr_path
    chmod 0644 /efs/bluetooth/addr.txt

    # Permissions for LCD
    chown system system /sys/class/backlight/panel/brightness
    chown system radio /sys/class/lcd/panel/lcd_power
    chown system radio /sys/class/lcd/panel/lcd_type

    # MTP device permission
    chmod 0660 /dev/usb_mtp_gadget
    chown system system /dev/usb_mtp_gadget

    # Camera factory
    chown system system /sys/class/sec/sec_cam/camtype
    chown system system /sys/class/sec/flash/enable
    chown system system /sys/class/camera/flash/rear_flash  
    chown system system /sys/class/camera/front/front_camtype
    chown system system /sys/class/camera/rear/rear_flash
    chown system system /sys/class/camera/rear/rear_camtype

    # Torch workaround
    chmod 0222 /sys/class/sec/flash/enable

    # Camera debug
    setprop persist.debug.extcamera.level 777
    setprop persist.debug.mmiocamera.level 777
    setprop debug.libcamera.trace 666

    # Battery
    chown system system /sys/class/power_supply/battery/batt_vol_adc_cal
    chown system radio /sys/class/power_supply/battery/fg_reset_soc

    # Set property to change the decoder profile level to 4.1
    setprop ste.video.decoder.h264.def.lev 4.1   

    # Modem
    class_start modem
    class_start default

# Crash Safe Parameter Storage Area, serving production parameter requests from clients.
# Configuration is read from file "/etc/cspsa.conf" and each found area spawns a CSPSA server
# process.
service cspsa /system/bin/cspsa-server
    class parameter_storage
    user root
    oneshot

# init Phonet net device required for Phonet communication with Modem
service phonet-netdev /system/bin/ifconfig upnlink0 up
    class main
    oneshot

# Copy RF trim data from CSPSA, and start the Modem Storage Agent (MSA) service
service modem /system/bin/sh /system/etc/ste_modem.sh
    class modem-u8500
    user root

# Creating Modem Security daemon
service copsd /system/bin/copsdaemon
    class modem-core
    user root

service admsrv /system/bin/admsrv
    class main
    user root
    group system audio inet net_bt net_bt_admin net_raw shell log
    ioprio rt 4
    capability NET_ADMIN NET_RAW SYS_NICE

service geomagneticd /system/bin/geomagneticd6x
    user compass
    group system input

service orientationd /system/bin/orientationd6x
    user compass
    group system input

# AT daemon
service atd /system/bin/at_core -mode normal -serial ttyAMA2
    class modem
    user root
    group radio audio

# TA Loader
service ta_load /system/bin/ta_loader
    user root
    group radio

# AT Distributor for factory test
service at_distributor /system/bin/at_distributor
    user root
    group radio log

service usbid_init /system/bin/usbid_init.sh
    class main
    oneshot

service mobex-daemon /system/bin/npsmobex
    class main
    user system
    group system radio inet sdcard_rw

# Vibetonz
service immvibed /system/bin/immvibed
    class core
    user shell
    group shell
    oneshot

on property:ro.dumpstate.dmesg=1
    write /proc/sys/kernel/dmesg_restrict 0

service p2p_supplicant /system/xbin/strace -tt -o/data/p2p.strace \
    /system/bin/logwrapper /system/bin/wpa_supplicant \
    -iwlan0 -Dnl80211 -c/data/misc/wifi/wpa_supplicant.conf \
    -I/system/etc/wifi/wpa_supplicant_overlay.conf \
    -O/data/misc/wifi/sockets -N \
    -ip2p0 -Dnl80211 -c/data/misc/wifi/p2p_supplicant.conf \
    -I/system/etc/wifi/p2p_supplicant_overlay.conf \
    -puse_p2p_group_interface=1 -e/data/misc/wifi/entropy.bin \
    -g@android:wpa_wlan0
    class main
    socket wpa_wlan0 dgram 660 wifi wifi
    disabled
    oneshot

service wpa_supplicant /system/bin/wpa_supplicant \
    -iwlan0 -Dnl80211 -c/data/misc/wifi/wpa_supplicant.conf \
    -I/system/etc/wifi/wpa_supplicant_overlay.conf \
    -O/data/misc/wifi/sockets \
    -e/data/misc/wifi/entropy.bin -g@android:wpa_wlan0
    class main
    socket wpa_wlan0 dgram 660 wifi wifi
    disabled
    oneshot

service dhcpcd_wlan0 /system/bin/dhcpcd -aABDKL
    class main
    disabled
    oneshot

service dhcpcd_p2p /system/bin/dhcpcd -aABKL
    class main
    disabled
    oneshot

service dhcpcd_bt-pan /system/bin/dhcpcd -ABKL
    class main
    disabled
    oneshot

service iprenew_wlan0 /system/bin/dhcpcd -n
    class main
    disabled
    oneshot

service iprenew_p2p /system/bin/dhcpcd -n
    class main
    disabled
    oneshot

service iprenew_bt-pan /system/bin/dhcpcd -n
    class main
    disabled
    oneshot

# FUSE sdcard daemon service for sdcard
service fuse_sdcard0 /system/bin/sdcard -u 1023 -g 1023 -d /mnt/media_rw/sdcard0 /storage/sdcard0
    class late_start
    disabled

service fuse_sdcard1 /system/bin/sdcard -u 1023 -g 1023 -d /mnt/media_rw/sdcard1 /storage/sdcard1
    class late_start
    disabled

# CM Performance Profiles
# Powersave
on property:sys.perf.profile=0
    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_governor abyssplug
    write /sys/devices/system/cpu/cpu1/cpufreq/scaling_governor abyssplug

# Balanced
on property:sys.perf.profile=1
    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_governor interactive
    write /sys/devices/system/cpu/cpu1/cpufreq/scaling_governor interactive

# High performance
on property:sys.perf.profile=2
    write /sys/devices/system/cpu/cpu0/online 1
    write /sys/devices/system/cpu/cpu1/online 1
    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_governor performance
    write /sys/devices/system/cpu/cpu1/cpufreq/scaling_governor performance
